.box {
  position: absolute;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(76, 76, 255, .2);
  width: 720px;
  border-radius: 40px;
  background: #1c1c21;
  padding: 40px 40px 60px;
  z-index: 3;
  left: 31.25vw;
  top: 15.2314815vh;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-family: 'JetBrainsMono';
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  color: #f2f2f3;
}