.image {
  width: 480px;
  height: 240px;
  background-size: cover;
}

.name {
  font-family: 'JetBrainsMono';
  font-weight: bold;
  font-size: 24px;
  color: #f2f2f3;
  margin-top: 16px;
  margin-bottom: 32px;
}

.description {
  font-family: 'JetBrainsMono';
  font-size: 14px;
  font-weight: normal;
  color: #f2f2f3;
  text-align: center;
  width: 350px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 520px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120px;
  margin-top: 32px;
}

.span {
  font-family: 'JetBrainsMono';
  font-size: 16px;
  font-weight: normal;
  color: #8585ad;
  margin-bottom: 8px;
}

.value {
  font-family: 'Iceland';
  font-size: 16px;
  font-weight: normal;
  color: #8585ad;
}