.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #1c1c21;
  padding: 25px 0;
  box-shadow: 0 24px 32px rgba(0, 0, 0, .04);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
}

.block {
  display: flex;
  justify-content: space-between;
  width: 759px;
}

.case {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nameActive {
  font-family: 'JetBrainsMono';
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #f2f2f3;
  margin-left: 8px;
}

.nameInactive {
  font-family: 'JetBrainsMono';
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #8585ad;
  margin-left: 8px;
}

.logo {
  width: 289px;
  height: 46px;
  background-size: cover;
  background-image: url(../../images/logo.svg);
  cursor: pointer;
}